.result {
  display: flex;
  align-items: center;
  gap: 0.325rem;
  width: 100%;
  padding: 0.5rem 0.2rem;
  margin-top: 2px;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  color: var(--mint12);
  border: 1px solid var(--mint3);
  transition: all 0.1s ease-in-out;
}

.result:hover {
  background-image: linear-gradient(
    90deg,
    hsl(164deg 76% 93%) 0%,
    hsl(164deg 71% 92%) 29%,
    hsl(164deg 68% 91%) 40%,
    hsl(164deg 65% 90%) 47%,
    hsl(164deg 63% 88%) 53%,
    hsl(164deg 61% 87%) 58%,
    hsl(164deg 60% 86%) 63%,
    hsl(164deg 58% 85%) 67%,
    hsl(164deg 57% 83%) 72%,
    hsl(164deg 56% 82%) 77%,
    hsl(165deg 56% 81%) 82%,
    hsl(165deg 55% 80%) 88%,
    hsl(165deg 54% 78%) 93%,
    hsl(165deg 54% 77%) 100%
  );
  border: 1px solid var(--mint8);
  transform: scale(1.02);
  z-index: 1;
  box-shadow: var(--shadow-elevation-low);
}

.result:active {
  transform: scale(0.98);
}

.thumbnail {
  margin: 0 0.5rem;
  border-radius: 0.2rem;
}

.songName {
  font-size: 1rem;
  font-weight: 700;
}

.artistName {
  font-size: 0.75rem;
}
