.result {
  display: flex;
  align-items: center;
  gap: 0.325rem;
  width: 100%;
  padding: 0.5rem 0.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  color: var(--mint12);
  border: 1px solid var(--mint3);
  transition: all 0.1s ease-in-out;
}

.result:hover {
  background-color: var(--mint5);
  border: 1px solid var(--mint8);
  transform: scale(1.02);
  z-index: 1;
  box-shadow: var(--shadow-elevation-low);
}

.result:active {
  transform: scale(0.98);
}

.thumbnail {
  margin: 0 0.5rem;
  border-radius: 0.2rem;
}

.songName {
  font-size: 1rem;
  font-weight: 700;
}

.artistName {
  font-size: 0.75rem;
}
