@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/mintDark.css";

:root {
  --shadow-color: 186deg 42% 70%;
  --shadow-elevation-low: 0.4px 0.5px 0.9px hsl(var(--shadow-color) / 0.06),
    1.2px 1.4px 2.6px -0.5px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-medium: 0.4px 0.5px 0.9px hsl(var(--shadow-color) / 0.08),
    6px 7.2px 13.3px -0.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.4px 0.5px 0.9px hsl(var(--shadow-color) / 0.1),
    6.2px 7.5px 13.8px -0.3px hsl(var(--shadow-color) / 0.33),
    20.5px 24.6px 45.4px -0.5px hsl(var(--shadow-color) / 0.57);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  height: 90%;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsla(172, 70%, 12%, 0.1);
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--mint6);
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--mint11);
}

body {
  background-color: var(--mint4);
}
