.heading {
  text-align: center;
  color: var(--mint12);
  margin: 1rem;
  font-size: 4rem;
}

.main {
  display: grid;
  place-content: center;
}

.frame {
  background-color: var(--mint3);
  padding: 16px;
  border-radius: 1rem;
  display: grid;
  max-width: 70rem;
  margin: 1rem;
  box-shadow: var(--shadow-elevation-medium);
  border: 2px solid var(--mint6);
  position: relative;
  z-index: 1;
}

@media (min-width: 600px) {
  .frame {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .frame {
    margin: 0;
  }
}
