.viewer {
  grid-column: 1 / span 2;
  height: 70vh;
  overflow: auto;
  padding: 2rem 4rem;
  display: grid;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.viewer span {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: var(--mint12);
  color: var(--mint1);
  box-shadow: var(--shadow-elevation-medium);
}
.spinner {
  grid-column: 1 / span 2;
  display: grid;
  place-content: center;
  height: 70vh;
}

.backButton {
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  left: 1.4rem;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: var(--mint5);
  cursor: pointer;
  color: var(--mint12);
  box-shadow: var(--shadow-elevation-low);
  transition: all 0.1s ease-in-out;
}

.backButton:hover {
  background-color: var(--mint6);
}

.backButton:active {
  transform: scale(0.85);
}

@media (max-width: 600px) {
  .viewer {
    height: 70vh;
  }
  .backButton {
    top: 1rem;
    left: 1rem;
  }
}
