.searchsection {
  background-color: var(--mint12);
  color: white;
  width: 100%;
  padding: 2.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .searchsection {
    width: 100%;
    padding: 3rem;
  }
}
