.searchsection {
  background-color: #95bdff;
  min-height: 60vh;
  max-width: 450px;
  color: white;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .searchsection {
    max-width: 100%;
  }
}
