.searchsection {
  background-color: var(--mint7);
  color: white;
  width: 95%;
  padding: 14rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .searchsection {
    width: 100%;
  }
}
