.resultSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.heading {
  color: var(--mint12);
  font-size: 1.3rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  height: 68vh;
  padding: 0 0.4rem;
  overflow: scroll;
}

@media (max-width: 600px) {
  .results {
    height: 35vh;
  }
}
