.resultSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.heading {
  color: var(--mint12);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0.4rem;
  overflow: auto;
}

@media (max-width: 600px) {
  .resultSection {
    margin-top: 1.5rem;
  }
}
